body {
    font-family: 'Poppins', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: clamp(1.5rem, 1.2697rem + 1.2281vw, 2.375rem);
    margin-bottom: 1rem;
}

input {
    color: var(--clr-black);
    border-color: var(--clr-neutral-gray-blue);
    padding-block: 1rem;
    padding-left: 0.5rem;
    border: 1px solid var(--clr-neutral-gray-blue);
    border-radius: var(--base-radius);
    outline-color: var(--clr-neutral-blue);
}

button {
    cursor: pointer;
}

.column-flow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
}

.login-site {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 0.5px;
        max-width: 400px;
    
        @media screen and (max-width: 1440px){
            text-align: center;
            p {
                text-align: center;
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        button {
            margin-top: 10px;
        }
    }

    @media screen and (min-width: 1440px) {
        grid-template-columns: auto minmax(500px, 1fr);
        gap: 80px;
    }
}

.label-box {
    margin-top: 40px;
    font-size: 1.3rem;
    .label-pair-wrapper {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        gap: 15px;
        label {
            font-style: italic;
        }
        span {
            font-weight: bold;
        }
    }
}

button.clean {
    border: 0;
    background-color: transparent;
    padding: 0;
}