:root {
    // colors 
    --clr-primary-red: hsl(0, 100%, 74%);
    --clr-primary-green: hsl(154, 59%, 51%);
    --clr-accent: hsl(248, 32%, 49%);
    --clr-neutral-blue: hsl(249, 10%, 26%) ;
    --clr-neutral-gray-blue: hsl(246, 25%, 77%);
    --clr-white: hsl(240, 20%, 100%);
    --clr-black: hsl(0, 89%, 4%);
    // utility 
    --base-radius: 6px;
}