:root {
    // colors 
    --clr-primary-red: hsl(0, 100%, 74%);
    --clr-primary-green: hsl(154, 59%, 51%);
    --clr-primary-green-alpha: hsla(154, 59%, 51%, 0.4);
    --clr-accent: hsl(248, 32%, 49%);
    --clr-accent-alpha: hsla(248, 32%, 49%, 0.4);
    --clr-neutral-blue: hsl(249, 10%, 26%) ;
    --clr-neutral-gray-blue: hsl(246, 25%, 77%);
    --clr-neutral-light-gray: rgba(234,236,241,255);
    --clr-font-gray-blue: rgba(124,136,168,255);
    --clr-error: hsl(0, 74%, 46%);
    --clr-white: hsl(240, 20%, 100%);
    --clr-black: hsl(0, 89%, 4%);
    // utility 
    --base-radius: 6px;
}